<h1>Authentication Page</h1>

<h2>Sign In / Connection</h2>
<form action="/auth" method="POST">
    <label for="username">Username</label>
    <input id="username" name="username" type="text">
    <label for="password"></label>
    <input id="password" name="password" type="password">
    <input type="submit" value="Connection">
</form>

{{#if attemptedUrl}}
<p>
    You tried to go to
    {{attemptedUrl}}, but you cannot until you log in!
</p>
{{/if}}
 
{{#if session.user}}
<p>welcome {{user}}</p>
{{/if}} 