<h1>Create an Account</h1>

<h2>Please choose a username and password</h2>
<form action="/auth/create" method="POST">
    <label for="username">Username</label>
    <input id="username" name="username" type="text">
    <label for="password"></label>
    <input id="password" name="password" type="password">
    <input type="submit" value="Create">
</form>